<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container" style="margin-top:10px;">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/">My Blog</a>
			</div>
		</div>
	</div>

</body>
</html>